@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	background: #ffe29c url("topbg.png")/*tpa=http://qwe.520ce.cn/topbg.png*//*tpa=http://www.tfgsw.cn/wangzhuan/imagesandcss/topbg.png*/ no-repeat top center;;
}
ul,
li,
dl,
dt,
dd,
p,
em,
b,
h1,
h2,
h3,
h4,
h5,
h6,
select,
checkbox,
textarea,
span,
input,
button,
img {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 0;
	outline: none;
}
dl,
dt,
dd{
	font-weight: normal;
}
a {
	display: inline-block;
	text-decoration: none;
	color: #3c495a;
}
a:hover {
	text-decoration: none;
}
.blue{
	color: #55a8fd;
}
.grey{
	color: #c0c4cb;
}
.orange{
	color: #ff8813;
}
.red{
	color: #ff0000;
}
.mt10{
	margin-top: 10px;
}
.mt15{
	margin-top: 15px;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt40{
	margin-top: 40px;
}
.mt50{
	margin-top: 50px;
}
.mt100{
	margin-top: 100px;
}
.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb20{
	margin-bottom: 20px;
}
.mb25{
	margin-bottom: 25px;
}
.mb40{
	margin-bottom: 40px;
}
.mr20{
	margin-right: 20px;
}
.mr30{
	margin-right: 30px;
}
.mr50{
	margin-right: 30px;
}
.mr80{
	margin-right: 80px;
}
.ml20{
	margin-left: 20px;
}
.ml50{
	margin-left: 50px;
}
.ml120{
	margin-left: 120px;
}
.h40{
	height: 40px;
}
.w45{
	width:45px;
}
.w120{
	width:140px;
}
.w518{
	width: 518px;
}
.w240{
	width: 240px;
}
.w140{
	width: 140px;
}
.w640{
	width: 640px;
}
img
{
	vertical-align:top;   /*解决IMG留白的bug，而且保留原来的行内块属性*/
	border:none;
}
li
{
	list-style:none;
}
.clearfix:after  /*清除浮动*/
{
	display:block;
	clear:both;
	content:'';
}
.clearfix
{
	zoom:1;
}
.fl {
	float: left;
}
.fr {
	float: right;
}